fastapi==0.110.1
uvicorn[standard]==0.29.0

langchain==0.1.15
langchain-openai==0.1.1
langchain-community==0.0.28

faiss-cpu==1.7.4

jina==3.34.0
jina[hub]==3.34.0

torch==2.2.2
transformers==4.41.1
accelerate==0.30.1
einops==0.8.1
ninja==1.11.1

pyyaml==6.0.1
